
/* Global */
body {
    /* font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.5;
    same as below */
    font: 0.9375rem/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1{
    text-transform: capitalize;
}

.btn{
    height: 2.05rem;
    background-color: #e8491d;
    border: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #ffffff;
}

.btn:hover{
    background-color: #862105;
}

.dark{
    padding: 0.9375rem;
    background: #35424a;
    color:#fff;
    margin-top: 0.625rem;
    margin-bottom:0.625rem;
}

.page-title{
    font-size: x-large;
}


/* Header */
header {
    background-color: #35424a;
    color: #ffffff;
    padding-top: 0.8rem;
    min-height: 4.375rem;
    border-bottom: #e8491d 0.1875rem solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}

header nav{
    margin: 0 0 0 0;
    margin: 0.75em 0 0 0;
    padding: 0px;
    float: right;
}

header li{
    float: left;
    display: inline;
    padding: 0 1.25em 0 1.25em;
}

#branding {
    float: left;
    margin:0;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
}

/* Showcase */
#showcase{
    min-height: 25rem;
    background: url('../images/backgroundimg.jpg') 0  -25rem;
    background-size: 1285px 750px;
    text-align: center;
    color: orangered;
}

#showcase h1{
    margin-top: 6.25rem;
    font-size: 3.125em;
    margin-bottom: 0.625rem;
}

#showcase p{
    font-size: 1.25em;
}

#newsletter{
    padding: 0.9375rem;
    color: #ffffff;
    background-color: #35424a;
}

/* Newsletter */
#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 0.9875em;
}

#newsletter input[type="email"]{
    padding: .25em;
    height: 1.5625em;
    width: 15.625em;
}

/* Boxes */
#boxes{
    margin-top: 1.25rem;
}

#boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 0.625rem;
}

#boxes .box img{
    width: 5.625em;
}

/* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 0.625rem;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 0.3125rem;
}

/* About Main */
article#main-col{
    float: left;
    width: 65%;
}

/* Services */
ul.services{
    list-style: none;
    padding: 1.25rem;
    border: #cccccc solid 0.0625rem;
    margin-bottom: 0.3125rem;
    background: #e6e6e6;
}

/* Footer */

footer{
    text-align: center;
    padding: 0.7em;
    margin-top: 0.7em;
    background-color: #e8491d;
}

/* Media Queries */
@media(max-width: 760px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box, article#main-col, aside#sidebar{
        float: none;
        text-align: center;
        width:100%;
    }

    header{
        padding-bottom:1.25rem;
    }

    #showcase h1{
        margin-top: 2.5rem;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 0.3125rem;
    }

    header li{
        padding: 0 .25em 0 .25em;
    }

    #showcase{
    background: url('../images/backgroundimg.jpg') 0  -25rem;
    background-size: 500px 300px;
}

}
